@media screen and (min-width: 993px) {
    .hum-container{
        display: none;
    }
}

/* For Mobile */
@media screen and (max-width: 576px) {
    .nav {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--primary);
        padding: 20px 0;
    }

    .hum-container {
        padding: 0 20px;
        justify-content: space-between;
        align-items: center;
    }

    .humburger {
        font-size: 1.6rem;
        color: var(--white);
    }
    .hum-container h3{
        color: var(--white);
    }
    #hum-close{
        display: none;
    }
    ul.main-menu {
        width: 50%;
        flex-direction: column;
        gap: 20px;
        background-color: var(--primary);
        padding: 20px;
        position: absolute;
        top: 100%;
        left: -100%;
        border-top: 1px solid var(--bg-primary);
        transition: all .5s;
    }

    .menu-btn {
        padding: 8px 20px;
        background-color: var(--primary);
        color: var(--white);
        font-weight: 600;
        border-radius: 0px 18px 20px 0px;
        transition: all .5s;
    }
    .m-close{
        display: block;
    }
    .m-close {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -16%;
        bottom: 45%;
        background-color: var(--primary);
        padding: 2px 18px;
        border-radius: 0px 20px 20px 0px;
    }
    .col {
        width: 100%;
    }
    .banner {
        padding: 0 20px;
    }
    .banner-container {
        width: 100%;
        flex-direction: column;
    }
    .banner-content h1 {
        font-size: 2rem;
        line-height: normal;
        margin-top: 20px;
    }
}