/* fonts here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins {
    font-family: "Poppins", sans-serif;
    font-weight:normal;
  }



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary:#e55473;
    --bg-primary:#fceef1;
    --secondary:#a49c9d;
    --white:white;
    --width:1300px;
    --sec-title-size:3.5rem;
}
/* ********************************************
**********  Start common css here    **********
**********************************************/
.d-flex{
    display: flex;
}
.col{
    width: 50%;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* button style */
.btn-primary{
    color: var(--white);
    background-color: var(--primary);
    padding:15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.menu-btn{
        padding: 8px 20px;
        background-color: var(--primary);
        color: var(--white);
        font-weight: 600;
        border-radius: 20px;
}
.menu-btn:hover{
        background-color: var(--white);
        color: var(--primary);
}
.text-center{
    text-align:center;
}
/* ********************************************
**********   End common css here    ***********
**********************************************/

/* *** header *** */
.header{
    background-color: var(--bg-primary);

}
.nav {
    position: absolute;
    width: 100%;
    top: 7%;
    left: 9%;
}
ul.main-menu{
    width: 40%;
    justify-content: space-around;
}
.banner{}
.banner-container{
    
    width:80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.banner-content{}
.banner-content h1{
    font-size: 3.7rem;
    line-height:75px;
}
.banner-content p{
    font-family: 16px;
    line-height: 25px;
    margin: 24px 0;
}
.banner-img{
    display: inline-block;
    width: 80%;
}
.banner-img img{

}